/home/dino/Documents/SP24/models filter=lfs diff=lfs merge=lfs -text
/home/dino/Documents/SP24 filter=lfs diff=lfs merge=lfs -text
models/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
/home/dino/Documents/SP24/.git/lfs/objects/43/c3/43c3a2e8153c5fc1d4095565cabae188074122582c173b90f3c6f30632ec41f4 filter=lfs diff=lfs merge=lfs -text
/home/dino/Documents/SP24/.git/objects/b9/bbf1a6a22a68bb2342a0389fdbc5bc77dc928c filter=lfs diff=lfs merge=lfs -text
/home/dino/Documents/SP24/.git/objects/dd/9e0b74131a1807d292c35c141a460713c18c78 filter=lfs diff=lfs merge=lfs -text
/home/dino/Documents/SP24/models/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
/home/dino/Documents/SP24/bert_model/python_model.pkl filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
bert_model/python_model.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/a6348e666f045465027ad029b25c451805c13d8349a2fefffbf0d77fa7ad2b4d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/bd35ce9de9fce89cf490f94cd4e722cd80bd40052b07cd40797f869bc850551d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/0a/26/0a264554c005f1ef2ebab5620d9c6d300625d9dc7ce6b7341f2796c5cdfcf9e8 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/43/c3/43c3a2e8153c5fc1d4095565cabae188074122582c173b90f3c6f30632ec41f4 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/9a/7b/9a7b9859107fdc72ab4a28f8ea6aa8db02e402635c6d4c3b6c2e76b5133fb607 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/8b/a09967f02a121233eb88dca005d6e59c78eed3 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/pack/pack-1e0e9c0197f2573f0b25e81aa95b4e4a12c3f7b5.pack filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/a6348e666f045465027ad029b25c451805c13d8349a2fefffbf0d77fa7ad2b4d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/bd35ce9de9fce89cf490f94cd4e722cd80bd40052b07cd40797f869bc850551d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/0a/26/0a264554c005f1ef2ebab5620d9c6d300625d9dc7ce6b7341f2796c5cdfcf9e8 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/43/c3/43c3a2e8153c5fc1d4095565cabae188074122582c173b90f3c6f30632ec41f4 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/9a/7b/9a7b9859107fdc72ab4a28f8ea6aa8db02e402635c6d4c3b6c2e76b5133fb607 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/8b/a09967f02a121233eb88dca005d6e59c78eed3 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/pack/pack-1e0e9c0197f2573f0b25e81aa95b4e4a12c3f7b5.pack filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/a6348e666f045465027ad029b25c451805c13d8349a2fefffbf0d77fa7ad2b4d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/bd35ce9de9fce89cf490f94cd4e722cd80bd40052b07cd40797f869bc850551d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/0a/26/0a264554c005f1ef2ebab5620d9c6d300625d9dc7ce6b7341f2796c5cdfcf9e8 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/43/c3/43c3a2e8153c5fc1d4095565cabae188074122582c173b90f3c6f30632ec41f4 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/9a/7b/9a7b9859107fdc72ab4a28f8ea6aa8db02e402635c6d4c3b6c2e76b5133fb607 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/8b/a09967f02a121233eb88dca005d6e59c78eed3 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/pack/pack-1e0e9c0197f2573f0b25e81aa95b4e4a12c3f7b5.pack filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/a6348e666f045465027ad029b25c451805c13d8349a2fefffbf0d77fa7ad2b4d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/incomplete/bd35ce9de9fce89cf490f94cd4e722cd80bd40052b07cd40797f869bc850551d.part filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/0a/26/0a264554c005f1ef2ebab5620d9c6d300625d9dc7ce6b7341f2796c5cdfcf9e8 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/43/c3/43c3a2e8153c5fc1d4095565cabae188074122582c173b90f3c6f30632ec41f4 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/lfs/objects/9a/7b/9a7b9859107fdc72ab4a28f8ea6aa8db02e402635c6d4c3b6c2e76b5133fb607 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/8b/a09967f02a121233eb88dca005d6e59c78eed3 filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/.git/objects/pack/pack-1e0e9c0197f2573f0b25e81aa95b4e4a12c3f7b5.pack filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/06ce128718c44074a17cdfd0cb97e6ad/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/07439ae8363a41eca48038dc7aa04227/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/74184504c22d41679f77d8c33d557e05/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
mlruns/** filter=lfs diff=lfs merge=lfs -text
bert-election2020-twitter-stance-biden/** filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/06ce128718c44074a17cdfd0cb97e6ad/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/07439ae8363a41eca48038dc7aa04227/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/23b74d5f173146b2a075bc1113064aee/artifacts/final_bert_model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/23b74d5f173146b2a075bc1113064aee/artifacts/final_model/final_model.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/23b74d5f173146b2a075bc1113064aee/artifacts/model_checkpoints/best_model_epoch_1.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/74184504c22d41679f77d8c33d557e05/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/model.safetensors filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/bert-election2020-twitter-stance-biden/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/06ce128718c44074a17cdfd0cb97e6ad/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/07439ae8363a41eca48038dc7aa04227/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/23b74d5f173146b2a075bc1113064aee/artifacts/final_bert_model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/23b74d5f173146b2a075bc1113064aee/artifacts/final_model/final_model.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/23b74d5f173146b2a075bc1113064aee/artifacts/model_checkpoints/best_model_epoch_1.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/2df5f72f86cd44b187234174be39551f/artifacts/final_bert_model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/2df5f72f86cd44b187234174be39551f/artifacts/model_checkpoints/best_model.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/717083336e64408bb0efb65a4f93c051/artifacts/final_bert_model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/717083336e64408bb0efb65a4f93c051/artifacts/model_checkpoints/best_model.pt filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/74184504c22d41679f77d8c33d557e05/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/8ebf56e58b6f48c897baaa1fb6585131/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/mlartifacts/0/91ecdf396f0b4a7295d841f484fddbdc/artifacts/model/data/model.pth filter=lfs diff=lfs merge=lfs -text
C:/Users/LENOVO/Desktop/SP24/scripts/model_checkpoints/best_model.pt filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
